BOT_TOKEN=вставьте_сюда_токен_от_BotFather
EXCEL_PATH=managers.xlsx
MANAGED_EXCEL_PATH=data/managers.xlsx
MATERIALS_DB=data/materials.sqlite3
PRICES_DB=data/prices.sqlite3
PRICE_STORAGE=data/prices
ADMIN_IDS=5533726476
